<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
  <p style="color: white">Chargement...</p>
</ngx-spinner>


<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="right">
    Liste des livres
    </ng-template>
  </p-toolbar>

  <p-table [value]="bookList" dataKey="id" [tableStyle]="{ 'min-width': '100%' }">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id" style="width:25%">
                ID
            </th>
            <th pSortableColumn="title" style="width:25%">
                Titre
            </th>
            <th pSortableColumn="descr" style="width:25%">
                Description
            </th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-book let-editing="editing">
        <tr>
            <td [pEditableColumn]="book.id" pEditableColumnField="id">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="book.id" />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ book.id }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td [pEditableColumn]="book.title" pEditableColumnField="title">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="book.title" required />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ book.title }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td [pEditableColumn]="book.descr" pEditableColumnField="descr">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText [(ngModel)]="book.descr"  />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ book.descr }}
                    </ng-template>
                </p-cellEditor>
            </td>

        </tr>
    </ng-template>
</p-table>
</div>
